<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.HRMConnectionString" connectionString="Data Source=.;Initial Catalog=HRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HRMConnectionString1" connectionString="Data Source=DESKTOP-CPSQQQU\SQLEXPRESS;Initial Catalog=HRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.HRMConnectionString2" connectionString="Data Source=DESKTOP-PK221FL\SQLEXPRESS;Initial Catalog=HRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>