<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRM.Properties.Settings.HRMConnectionString" connectionString="Data Source=DESKTOP-CPSQQQU\SQLEXPRESS;Initial Catalog=HRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DESKTOP-CPSQQQU\SQLEXPRESS_HRM_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-CPSQQQU\SQLEXPRESS;integrated security=SSPI;initial catalog=HRM" />
    </connectionStrings>
</configuration>